body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


.pointer {

  cursor: pointer;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

#form {
  text-align: center;
}

#trab {
  width: 140px;
  height: 140px;
}
.Int{
  margin:auto;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  
}

#limit_project {
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  margin:auto;
}
#limit_curso{
  width: 90%;
  max-width: 900px;
  margin:auto;
}

.imgevent{

  max-width: 900px;
  max-height: 200px;

}
.imgAlphav1{
  width: 200px;
  height: 200px;
}


#pdf{
  
  display: flex;
  justify-content: space-around;
  margin:auto;
}