body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}




.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

#form {
  text-align: center;
}
#trab {
  width: 140px;
  height: 140px;
}
#__projetos {
  width: 320px;
  height: 320px;
}
#_projetos {
  width: 320px;
  height: 189px;
  margin-top: 131px;
}
#___projetos {
  width: 384px;
  height: 97px;
  margin-top: 130px;
}

#limit{
    width: 97%;
}
.card-img{
  height: 90%;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 0em) {
  #profile {
    text-align: center;
    font-size: 2rem;
    font-family: arial;
  }
  #pro {
    margin-left: 42%;
    display: flex;
  }
  #textprofile {
    text-align: center;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  
  
  #profile {
    text-align: center;
  }
  #pro {
    margin-left: 42%;
    display: flex;
  }
  #textprofile {
    text-align: center;
  }
}

@media (min-width: 62em) {
  
  #profile {
    text-align: center;
  }
  #pro {
    margin-left: 42%;
    display: flex;
  }
  #textprofile {
    text-align: center;
  }
}
